<section class="products">
  <div class="products__container container">
    <h1 class="section-title">Аксессуары</h1>
    <div class="future-product__list products grid">
      <a href="product-page-2.html" class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="img/products/varmilo-sea-melody.jpg" alt="Коврик Varmilo Sea Melody">
        </div>
        <div class="product__text">
          <div class="product__title">Коврик Varmilo Sea Melody</div>
          <div class="product__price">3 549руб</div>
        </div>
      </a>

      <a href="product-page-2.html" class="products__card product product--big product--not-available">
        <div class="product__img product__img--big">
          <img src="img/products/varmilo-summit.jpg" alt="Коврик Varmilo Summit">
        </div>
        <div class="product__text">
          <div class="product__title">Коврик Varmilo Summit</div>
          <div class="product__price">4 000 руб</div>
        </div>
      </a>

      <a href="product-page-2.html" class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="img/products/blue-cabel.jpg" alt="Кабель Sky Blue">
        </div>
        <div class="product__text">
          <div class="product__title">Кабель Sky Blue</div>
          <div class="product__price">990 руб</div>
        </div>
      </a>

      <a href="product-page-2.html" class="products__card product product--big product--not-available">
        <div class="product__img product__img--big">
          <img src="img/products/yellow-cabel.jpg" alt="Кабель Lemon Yellow">
        </div>
        <div class="product__text">
          <div class="product__title">Кабель Lemon Yellow</div>
          <div class="product__price">990 руб</div>
        </div>
      </a>

      <a href="product-page-2.html" class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="img/products/keycaps-ducky-pbt.jpg"
            alt="108 Key PBT Seamless Doubleshot Pudding Keycap Set (Ducky)">
        </div>
        <div class="product__text">
          <div class="product__title">108 Key PBT Seamless Doubleshot Pudding Keycap Set (Ducky)</div>
          <div class="product__price">2 895 руб</div>
        </div>
      </a>

      <a href="product-page-2.html" class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="img/products//keycaps-taihao-pbt.jpg"
            alt="104 Key PBT Double Shot Keycap Set - Dark Gray/Black (Tai-Hao)">
        </div>
        <div class="product__text">
          <div class="product__title">104 Key PBT Double Shot Keycap Set - Dark Gray/Black (Tai-Hao)</div>
          <div class="product__price">2 599 руб</div>
        </div>
      </a>


    </div>
  </div>
</section>
