<section class="filters">
  <div class="container filters__container">
    <h1 class="section-title">Клавиатуры</h1>
    <button class="btn-reset filters__btn btn-filter">
      <span class="btn-filter__text">Фильтры</span>
    </button>
    <div class="filter filter-wrapper">
      <div class="filter__container">
        <div class="filter-row grid">
          <div class="filter-column">
            <div class="filter-column__title">Наличие</div>
            <div class="filter-column__content">
              <label class="custom-radio">
                <input type="radio" class="custom-radio__field filter-input" name="exist" value="all" checked>
                <span class="custom-radio__content">Все</span>
              </label>

              <label class="custom-radio">
                <input type="radio" class="custom-radio__field filter-input" name="exist" value="instock">
                <span class="custom-radio__content">В наличии</span>
              </label>

              <label class="custom-radio">
                <input type="radio" class="custom-radio__field filter-input" name="exist" value="preorder">
                <span class="custom-radio__content">Предзаказ</span>
              </label>
            </div>
          </div>
          <div class="filter-column">
            <div class="filter-column__title">Бренд</div>
            <div class="filter-column__content">
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field filter-input" name="brand" value="Leopold">
                <span class="custom-checkbox__content">Leopold</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field filter-input" name="brand" value="Varmilo">
                <span class="custom-checkbox__content">Varmilo</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field filter-input" name="brand" value="Durgod">
                <span class="custom-checkbox__content">Durgod</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field filter-input" name="brand" value="Ducky">
                <span class="custom-checkbox__content">Ducky</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field filter-input" name="brand" value="Vortex">
                <span class="custom-checkbox__content">Vortex</span>
              </label>
            </div>
          </div>
          <div class="filter-column filter-column__switchers">
            <div class="filter-column__title">Переключатели</div>
            <div class="filter-column__content">
              <div class="filter-switcher-item">
                <label class="filter-switcher filter-switcher__checkbox filter-switcher--BR">
                  <input type="checkbox" class="filter-switcher__field filter-input">
                  <span class="filter-switcher__content" data-switch="BR"></span>
                </label>
                <div class="filter-switcher-tooltip">
                  <div class="product-card__info">
                    <div class="product-card__info-content">
                      <div class="filter-switcher-tooltip__title">Cherry MX Brown</div>
                      <div class="filter-switcher-tooltip__info">
                        <div class="filter-switcher-tooltip__img">
                          <img src="img/switches/cherry-mx-brown.png" alt="Cherry MX Brown">
                        </div>
                        <div class="filter-switcher-tooltip__text">
                          Производитель: Cherry <br>
                          Тип: тактильный <br>
                          Сила нажатия: 55 грамм (средние) <br>
                          Длина пути: 4 мм (2 мм до срабатывания)
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="filter-switcher-item">
                <label class="filter-switcher filter-switcher__checkbox filter-switcher--R">
                  <input type="checkbox" class="filter-switcher__field filter-input">
                  <span class="filter-switcher__content" data-switch="R"></span>
                </label>

                <div class="filter-switcher-tooltip">
                  <div class="product-card__info">
                    <div class="product-card__info-content">
                      <div class="filter-switcher-tooltip__title">Cherry MX Red</div>
                      <div class="filter-switcher-tooltip__info">
                        <div class="filter-switcher-tooltip__img">
                          <img src="img/switches/cherry-mx-red.png" alt="Cherry MX brown">
                        </div>
                        <div class="filter-switcher-tooltip__text">
                          Производитель: Cherry <br>
                          Тип: линейный <br>
                          Сила нажатия: 45 грамм (легкие) <br>
                          Длина пути: 4 мм (2 мм до срабатывания)
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-switcher-item">
                <label class="filter-switcher filter-switcher__checkbox filter-switcher--G">
                  <input type="checkbox" class="filter-switcher__field filter-input">
                  <span class="filter-switcher__content" data-switch="G"></span>
                </label>

                <div class="filter-switcher-tooltip">
                  <div class="product-card__info">
                    <div class="product-card__info-content">
                      <div class="filter-switcher-tooltip__title">Cherry MX Green</div>
                      <div class="filter-switcher-tooltip__info">
                        <div class="filter-switcher-tooltip__img">
                          <img src="img/switches/cherry-mx-green.png" alt="Cherry MX brown">
                        </div>
                        <div class="filter-switcher-tooltip__text">
                          Производитель: Cherry <br>
                          Тип: тактильный <br>
                          Сила нажатия: 80 грамм (тяжелые) <br>
                          Длина пути: 4 мм (2.2 мм до срабатывания)
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-switcher-item">
                <label class="filter-switcher filter-switcher__checkbox filter-switcher--BL">
                  <input type="checkbox" class="filter-switcher__field filter-input">
                  <span class="filter-switcher__content" data-switch="BL"></span>
                </label>

                <div class="filter-switcher-tooltip">
                  <div class="product-card__info">
                    <div class="product-card__info-content">
                      <div class="filter-switcher-tooltip__title">Cherry MX Black</div>
                      <div class="filter-switcher-tooltip__info">
                        <div class="filter-switcher-tooltip__img">
                          <img src="img/switches/cherry-mx-black.png" alt="Cherry MX brown">
                        </div>
                        <div class="filter-switcher-tooltip__text">
                          Производитель: Cherry <br>
                          Тип: линейный <br>
                          Сила нажатия: 60 грамм (тяжелые) <br>
                          Длина пути: 4 мм (2 мм до срабатывания)
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-switcher-item">
                <label class="filter-switcher filter-switcher__checkbox filter-switcher--S">
                  <input type="checkbox" class="filter-switcher__field filter-input" disabled>
                  <span class="filter-switcher__content" data-switch="S"></span>
                </label>

                <div class="filter-switcher-tooltip">
                  <div class="product-card__info">
                    <div class="product-card__info-content">
                      <div class="filter-switcher-tooltip__title">Cherry MX Speed Silver</div>
                      <div class="filter-switcher-tooltip__info">
                        <div class="filter-switcher-tooltip__img">
                          <img src="img/switches/cherry-mx-silver.png" alt="Cherry MX brown">
                        </div>
                        <div class="filter-switcher-tooltip__text">
                          Производитель: Cherry <br>
                          Тип: линейный <br>
                          Сила нажатия: 45 грамм (легкие) <br>
                          Длина пути: 4 мм (2 мм до срабатывания)
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-switcher-item">
                <label class="filter-switcher filter-switcher__checkbox filter-switcher--SR">
                  <input type="checkbox" class="filter-switcher__field filter-input" disabled>
                  <span class="filter-switcher__content" data-switch="SR"></span>
                </label>

                <div class="filter-switcher-tooltip">
                  <div class="product-card__info">
                    <div class="product-card__info-content">
                      <div class="filter-switcher-tooltip__title">Cherry MX Silent Red</div>
                      <div class="filter-switcher-tooltip__info">
                        <div class="filter-switcher-tooltip__img">
                          <img src="img/switches/cherry-mx-silent-red.png" alt="Cherry MX brown">
                        </div>
                        <div class="filter-switcher-tooltip__text">
                          Производитель: Cherry <br>
                          Тип: линейный <br>
                          Сила нажатия: 45 грамм (средние) <br>
                          Длина пути: 3.7 мм (1.9 мм до срабатывания)
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-switcher-item">
                <label class="filter-switcher filter-switcher__checkbox filter-switcher--B">
                  <input type="checkbox" class="filter-switcher__field filter-input">
                  <span class="filter-switcher__content" data-switch="B"></span>
                </label>

                <div class="filter-switcher-tooltip">
                  <div class="product-card__info">
                    <div class="product-card__info-content">
                      <div class="filter-switcher-tooltip__title">Cherry MX Blue</div>
                      <div class="filter-switcher-tooltip__info">
                        <div class="filter-switcher-tooltip__img">
                          <img src="img/switches/cherry-mx-blue.png" alt="Cherry MX brown">
                        </div>
                        <div class="filter-switcher-tooltip__text">
                          Производитель: Cherry <br>
                          Тип: кликающий <br>
                          Сила нажатия: 60 грамм (несмотря на вес, средние) <br>
                          Длина пути: 4 мм (2.2 мм до срабатывания)
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-column">
            <div class="filter-column__title">Размер</div>
            <div class="filter-column__content">

              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field filter-input" name="size" value="100 %">
                <span class="custom-checkbox__content">100 %</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field filter-input" name="size" value="80 %">
                <span class="custom-checkbox__content">80 %</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field filter-input" name="size" value="70 %">
                <span class="custom-checkbox__content">70 %</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field filter-input" name="size" value="65 %">
                <span class="custom-checkbox__content">65 %</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field filter-input" name="size" value="60 %">
                <span class="custom-checkbox__content">60 %</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field filter-input" name="size" value="40 %">
                <span class="custom-checkbox__content">40 %</span>
              </label>
            </div>
          </div>
        </div>
        <div class="filter__reset">
          <button class="btn-reset filter__reset-btn">
            <svg class="reset-icon">
              <use xlink:href="img/sprite.svg#reset"></use>
            </svg>
            <span class="filter__reset-caption">Очистить</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
