<footer class="footer">
  <div class="container footer__container">
    <h3 class="footer__title">Отслеживаете поступление товаров в MushyKey </h3>
    <form action="#" class="mailing__form mailing">
      <input type="email" name="mail" class="mailing__input" placeholder="Email адрес">
      <button type="submit" class="btn-reset btn mailing__btn">Отслеживать</button>
    </form>
    <hr class="footer__hr">
    <div class="footer__social">
      <ul class="social-icons">
        <li class="social-icon">
          <a href="#" class="social-link">
            <svg class="social-img">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon">
          <a href="#" class="social-link">
            <svg class="social-img">
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__copy">
      © 2021,
      <a class="copy-link" href="/">ООО MushyKey</a>
    </div>

  </div>
</footer>
