<section class="future-product">
  <div class="container future-product__contaner">
    <h2 class="future-product__title">Будущие товары</h2>
    <div class="future-product__list products grid">
      <a href="product-page.html" class="products__card product product--small">
        <div class="product__img">
          <img src="img/products/kam-lil-dragon.jpg" alt="KAM Lil Dragon">
        </div>
        <div class="product__text">
          <div class="product__title">KAM Lil Dragon</div>
          <div class="product__price">9 899 руб</div>
        </div>
      </a>

      <a href="product-page.html" class="products__card product product--small">
        <div class="product__img">
          <img src="img/products/kam-wraith-extras.jpg" alt="KAM Wraith Extras">
        </div>
        <div class="product__text">
          <div class="product__title">KAM Wraith Extras</div>
          <div class="product__price">15 999 руб</div>
        </div>
      </a>

      <a href="product-page.html" class="products__card product product--small">
        <div class="product__img">
          <img src="img/products/barleycorn-keyboard-kit.jpg" alt="Barleycorn Keyboard Kit">
        </div>
        <div class="product__text">
          <div class="product__title">Barleycorn Keyboard Kit</div>
          <div class="product__price">11 579 руб</div>
        </div>
      </a>

      <a href="product-page.html" class="products__card product product--small">
        <div class="product__img">
          <img src="img/products/leopold.jpg" alt="Leopold FC750R Dolch PD">
        </div>
        <div class="product__text">
          <div class="product__title">Leopold FC750R Dolch PD</div>
          <div class="product__price">9 579 руб</div>
        </div>
      </a>

      <a href="product-page.html" class="products__card product product--small">
        <div class="product__img">
          <img src="img/products/kailh-box-red.jpg" alt="Kailh BOX Red">
        </div>
        <div class="product__text">
          <div class="product__title">Kailh BOX Red</div>
          <div class="product__price">40 руб / шт</div>
        </div>
      </a>

      <a href="product-page.html" class="products__card product product--small">
        <div class="product__img">
          <img src="img/products/kailh-box-white.jpg" alt="Kailh BOX White">
        </div>
        <div class="product__text">
          <div class="product__title">Kailh BOX White</div>
          <div class="product__price">40 руб / шт</div>
        </div>
      </a>

      <a href="product-page-2.html" class="products__card product product--small">
        <div class="product__img">
          <img src="img/products/yellow-cabel.jpg" alt="Кабель Lemon Yellow">
        </div>
        <div class="product__text">
          <div class="product__title">Кабель Lemon Yellow</div>
          <div class="product__price">990 руб</div>
        </div>
      </a>
    </div>
    <button class="btn btn-reset btn-more btn--transparent">Ещё</button>
  </div>
</section>
