<div class="slider-section">
  <div class="hero-slider">
    <div class="hero-slider__item">
      <div class="hero-slider__image">
        <img src="img/slider/slider-1.jpg" alt="KAM Wraith Extras">
      </div>
      <div class="hero-slider__info">
        <p class="hero-slider__text">KAM Wraith Extras</p>
        <a href="product-page.html" class="btn btn-reset  hero-slider__btn ">посмотреть</a>
      </div>
    </div>

    <div class="hero-slider__item">
      <div class="hero-slider__image">
        <img src="img/slider/slider-2.jpg" alt="KAM Lil Dragon">
      </div>
      <div class="hero-slider__info">
        <p class="hero-slider__text">KAM Lil Dragon</p>
        <a href="product-page.html" class="btn btn-reset  hero-slider__btn ">посмотреть</a>
      </div>
    </div>

    <div class="hero-slider__item">
      <div class="hero-slider__image">
        <img src="img/slider/slider-3.jpg" alt="Barleycorn Keyboard Kit">
      </div>
      <div class="hero-slider__info">
        <p class="hero-slider__text">Barleycorn Keyboard Kit</p>
        <a href="product-page.html" class="btn btn-reset  hero-slider__btn ">посмотреть</a>
      </div>
    </div>


  </div>
</div>
