<section class="products">
  <div class="products__container container">
    <div class="future-product__list products grid">

      <a href="product-page.html" class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="img/products/kam-lil-dragon.jpg" alt="KAM Lil Dragon">
        </div>
        <div class="product__text">
          <div class="product__title">KAM Lil Dragon</div>
          <div class="product__price">9 899 руб</div>
        </div>
      </a>

      <a href="product-page.html" class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="img/products/kam-wraith-extras.jpg" alt="KAM Wraith Extras">
        </div>
        <div class="product__text">
          <div class="product__title">KAM Wraith Extras</div>
          <div class="product__price">9 999 руб</div>
        </div>
      </a>

      <a href="product-page.html" class="products__card product product--big product--not-available">
        <div class="product__img product__img--big">
          <img src="img/products/barleycorn-keyboard-kit.jpg" alt="Barleycorn Keyboard Kit">
        </div>
        <div class="product__text">
          <div class="product__title">Barleycorn Keyboard Kit</div>
          <div class="product__price">11 579 руб</div>
        </div>
      </a>

      <a href="product-page.html" class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="img/products/leopold.jpg" alt="Leopold FC750R Dolch PD">
        </div>
        <div class="product__text">
          <div class="product__title">Leopold FC750R Dolch PD</div>
          <div class="product__price">9 579 руб</div>
        </div>
      </a>

      <a href="product-page.html" class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="img/products/Ducky-One-2-Skyline.jpg" alt="Ducky One 2 Skyline TKL">
        </div>
        <div class="product__text">
          <div class="product__title">Ducky One 2 Skyline TKL </div>
          <div class="product__price">7 365 руб</div>
        </div>
      </a>

      <a href="product-page.html" class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="img/products/Ducky-x-Varmilo-MIYA-Pro-Panda.jpg"
            alt="Ducky x Varmilo MIYA Pro Panda White LED 65%">
        </div>
        <div class="product__text">
          <div class="product__title">Ducky x Varmilo MIYA Pro Panda White LED 65%</div>
          <div class="product__price">8 599 руб</div>
        </div>
      </a>


    </div>
  </div>

</section>
