<section class="product-info">
  <div class="container product-info__container">
    <h1 class="section-title">Кабель Sky Blue</h1>
    <div class="product-info__top product-info__row grid">
      <div class="product-info__slider product-info__column">
        <div class="product-info__slider-top slider-top">
          <div class="slider-top__item">
            <img src="img/product-page-accessory/product-1.jpg" alt="KAM Wraith Extras первый слайд">
          </div>
          <div class="slider-top__item">
            <img src="img/product-page-accessory/product-2.jpg" alt="KAM Wraith Extras второй слайд">
          </div>
          <div class="slider-top__item">
            <img src="img/product-page-accessory/product-3.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
          <div class="slider-top__item">
            <img src="img/product-page-accessory/product-4.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
          <div class="slider-top__item">
            <img src="img/product-page-accessory/product-5.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
        </div>
        <div class="product-info__slider-bottom slider-bottom">
          <div class="slider-bottom__item">
            <img src="img/product-page-accessory/product-1.jpg" alt="KAM Wraith Extras первый слайд">
          </div>
          <div class="slider-bottom__item">
            <img src="img/product-page-accessory/product-2.jpg" alt="KAM Wraith Extras второй слайд">
          </div>
          <div class="slider-bottom__item">
            <img src="img/product-page-accessory/product-3.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
          <div class="slider-bottom__item">
            <img src="img/product-page-accessory/product-4.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
          <div class="slider-bottom__item">
            <img src="img/product-page-accessory/product-5.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
        </div>
      </div>
      <div class="product-info__aside product-info__column">
        <div class="product-info__text">
          <h1 class="product-info__title">Кабель Sky Blue</h1>
          <span class="product-info__price">990 руб</span>

          <div class="option-title">Выберите длину кабеля: </div>
          <div class="filter-column__content option-content">
            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="cable-size" value="30 см" checked>
              <span class="custom-radio__content option-item">30 см</span>
            </label>

            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="cable-size" value="50 см">
              <span class="custom-radio__content option-item">50 см</span>
            </label>

            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="cable-size" value="1 м">
              <span class="custom-radio__content option-item">1 м</span>
            </label>

            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="cable-size" value="1.5 м">
              <span class="custom-radio__content option-item">1.5 м</span>
            </label>

            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="cable-size" value="2 м">
              <span class="custom-radio__content option-item">2 м</span>
            </label>

            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="cable-size" value="3 м">
              <span class="custom-radio__content option-item">3 м</span>
            </label>

            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="cable-size" value="4 м">
              <span class="custom-radio__content option-item">4 м</span>
            </label>

            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="cable-size" value="5 м">
              <span class="custom-radio__content option-item">5 м</span>
            </label>
          </div>

          <div class="option-title">Выберите первый разъем: </div>
          <div class="filter-column__content option-content">
            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="first-cable-connector"
                value="USB 2.0 Type-C" checked>
              <span class="custom-radio__content option-item">USB 2.0 Type-C</span>
            </label>

            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="first-cable-connector"
                value="Micro-USB">
              <span class="custom-radio__content option-item">Micro-USB</span>
            </label>

            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="first-cable-connector"
                value="Mini-USB">
              <span class="custom-radio__content option-item">Mini-USB</span>
            </label>
          </div>

          <div class="option-title">Выберите второй разъем: </div>
          <div class="filter-column__content option-content">
            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="second-cable-connector"
                value="USB 2.0 Type-A" checked>
              <span class="custom-radio__content option-item">USB 2.0 Type-A</span>
            </label>

            <label class="custom-radio">
              <input type="radio" class="custom-radio__field filter-input" name="second-cable-connector"
                value="USB 2.0 Type-C">
              <span class="custom-radio__content option-item">USB 2.0 Type-C</span>
            </label>
          </div>

        </div>
        <button class="product-info__btn btn-reset">Добавить в корзину</button>
      </div>
    </div>
    <div class="product-info__bottom product-info__row grid">
      <div class="product-info__description product-info__column">
        <h2 class="product-info__description-title">Описание</h2>
        <div class="product-info__description-text">
          <p>
            Кастомный кабель компании Geekboard
          </p>
          <br>
          <ul>
            <li>Поддерживаемый стандарт: USB 2.0;</li>
            <li>Характеристики провода: экранированный многожильный медный;</li>
            <li>Сечение: 2*AWG28 + 2*AWG24;</li>
            <li>Максимальный ток по линиям питания: 3А;</li>
            <li>Поддержка режимов быстрой зарядки: QC2, QC3, AFC, FCP;</li>
            <li>Оплётка: паракорд 550-й серии (нейлон).</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
