<section class="product-info">
  <div class="container product-info__container">
    <h1 class="section-title">KAM Wraith Extras первый слайд</h1>
    <div class="product-info__top product-info__row grid">
      <div class="product-info__slider product-info__column">
        <div class="product-info__slider-top slider-top">
          <div class="slider-top__item">
            <img src="../img/product-page-keyboard/product-1.jpg" alt="KAM Wraith Extras первый слайд">
          </div>
          <div class="slider-top__item">
            <img src="../img/product-page-keyboard/product-2.jpg" alt="KAM Wraith Extras второй слайд">
          </div>
          <div class="slider-top__item">
            <img src="../img/product-page-keyboard/product-3.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
          <div class="slider-top__item">
            <img src="../img/product-page-keyboard/product-4.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
          <div class="slider-top__item">
            <img src="../img/product-page-keyboard/product-5.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
        </div>
        <div class="product-info__slider-bottom slider-bottom">
          <div class="slider-bottom__item">
            <img src="../img/product-page-keyboard/product-1.jpg" alt="KAM Wraith Extras первый слайд">
          </div>
          <div class="slider-bottom__item">
            <img src="../img/product-page-keyboard/product-2.jpg" alt="KAM Wraith Extras второй слайд">
          </div>
          <div class="slider-bottom__item">
            <img src="../img/product-page-keyboard/product-3.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
          <div class="slider-bottom__item">
            <img src="../img/product-page-keyboard/product-4.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
          <div class="slider-bottom__item">
            <img src="../img/product-page-keyboard/product-5.jpg" alt="KAM Wraith Extras третий слайд">
          </div>
        </div>
      </div>
      <div class="product-info__aside product-info__column">
        <div class="product-info__text">
          <h1 class="product-info__title">KAM Wraith Extras</h1>
          <span class="product-info__price">11 790 руб</span>
        </div>
        <button class="product-info__btn btn-reset">Добавить в корзину</button>
      </div>
    </div>
    <div class="product-info__bottom product-info__row grid">
      <div class="product-info__description product-info__column">
        <h2 class="product-info__description-title">Описание</h2>
        <div class="product-info__description-text">
          <p>
            Vortexgear&nbsp;&mdash; известный в&nbsp;кругах любителей качественной механики Тайваньский производитель.
            Выделяются от
            других производителей своим желанием упаковать в&nbsp;компактный корпус огромный функционал: обширная
            программируемость, отсутствие зазоров между клавишами, стабилизаторы собственного производства.
          </p>

          <p>
            Также это единственный Hi-end производитель, который делает кейкапы с&nbsp;довольно редкими и&nbsp;любимыми
            сообществом профилями&nbsp;SA и&nbsp;DSA. Если вы&nbsp;ищете чего-то необычного или что-то очень портативное
            с&nbsp;богатым функционалом &mdash;
            вам к&nbsp;Vortex.
          </p>

          <h3 class="list-header">Комплектация:</h3>

          <ul>
            <li>Клавиатура;</li>
            <li>Коробка;</li>
            <li>Отсоединяемый кабель USB-C;</li>
            <li>Дополнительные клавиши-модификаторы (Enter, Ctrl, Alt, Shift и&nbsp;cmd&nbsp;/ option для удобства
              работы с&nbsp;Mac
              OS);</li>
            <li>Кейкап-пуллер.</li>
          </ul>
        </div>
      </div>
      <div class="product-info__specification product-info__column">
        <div class="product-info__specification-table table-specification">
          <table>
            <caption>Характеристики</caption>
            <tr>
              <td>Конструкция</td>
              <td>Классическая</td>
            </tr>
            <tr>
              <td>Материал клавиш</td>
              <td>PBT</td>
            </tr>
            <tr>
              <td>Размер</td>
              <td>60%</td>
            </tr>
            <tr>
              <td>Количество клавиш</td>
              <td>61</td>
            </tr>
            <tr>
              <td>Длина кабеля</td>
              <td>1.5 метра</td>
            </tr>
            <tr>
              <td>Тип разъема</td>
              <td>USB Type-C</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
