<section class="products">
  <div class="products__container container">
    <h1 class="section-title">Переключатели</h1>
    <div class="future-product__list products grid">

      <div class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="../img/products/kailh-box-black.jpg" alt="Kailh BOX Black">
        </div>
        <div class="product__text">
          <div class="product__title">Kailh BOX Black</div>
          <div class="product__price">40 руб / шт</div>
        </div>
      </div>

      <div class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="../img/products/kailh-box-white.jpg" alt="Kailh BOX White">
        </div>
        <div class="product__text">
          <div class="product__title">Kailh BOX White</div>
          <div class="product__price">40 руб / шт</div>
        </div>
      </div>

      <div class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="../img/products/kailh-box-brown.jpg" alt="Kailh BOX Brown">
        </div>
        <div class="product__text">
          <div class="product__title">Kailh BOX White</div>
          <div class="product__price">40 руб / шт</div>
        </div>
      </div>

      <div class="products__card product product--big">
        <div class="product__img product__img--big">
          <img src="../img/products/kailh-box-red.jpg" alt="Kailh BOX Red">
        </div>
        <div class="product__text">
          <div class="product__title">Kailh BOX Red</div>
          <div class="product__price">40 руб / шт</div>
        </div>
      </div>

    </div>
  </div>
</section>
